/* helper */

.pad-30 {
  padding: 30px;
}


.logo {
  max-height: 70px;
}

.logo-text {
  margin-top: 20px;
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #FF827B
}
.hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  height: 450px;
  background-position: center;
}
.hero h2 {
  font-family: 'Lato';
  font-weight: 500;
  color: white;
}

.nav {
  margin-top: 30px;
  font-size: 20px;
}

.nav-pills a:hover {
  color: #FF827B
}

.thumbnail {
  background-color: #edf1f4;
  padding: 10px;
}

.gmap {
  display: inline-block;
  margin: 10px 0 0 30px;
}

.footer {
  background-color: #483C32;

}

.footer a {
  color: white;
}



.divider {
  border-right: gray solid 1px;
  padding: 10px;
}
